.background {
  background-color: #e3d4ad;
background-image: url("https://www.transparenttextures.com/patterns/dark-wall.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

#header {
  background-color: #E3D4AD
}

#images {
  height: auto;
  width: 500px;
  display: flex;
  border-radius: 25px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(68, 66, 66);
  color: white;
  text-align: center;
}