.background {
  background-color: #0a0414;
  background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-v2.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

#header {
  background-color: #0a0414;
background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-v2.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

#header-bg {
  background-color: #151e4d;
  background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-v2.png");
}


#images {
  height: auto;
  width: 500px;
  display: flex;
  border-radius: 25px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: white;
  text-align: center;
  justify-content: space-between;
}

.footer-contents {
  display: flex;
  justify-content:space-evenly;
}

#stack {
  position: fixed;
  left: 50;
  bottom: 100;
  text-align: start;
}

.card2 {
  position: RELATIVE;
  bottom: 495px;
  left: 563px;
}

.list2 {
  position: relative;
  bottom: 161px;
  left: 250px;
}

.header-tite {
  font-size: 285px;
}

#navList {
  display: flex;
  justify-content: flex-end;
  position: relative;
  font-size: large;
  color: black;
}

#resume-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#buttonStyle {
  display: flex;
  justify-content: space-between
}

#video {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  color: white;
}
/* 
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
} */